*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: blue;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #fff;
}